@font-face {
    font-family: 'origami';
    src: url('../font/force.otf');
}


html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #d8d9d4;
    font-family: 'Origami';
    font-size: 20px;
}

.store {
    padding: 15px;
}

.title {
    text-align: center;
    font-size: 42px;
    color: #2c3c82;
}