@font-face {
    font-family: 'origami';
    src: url('../font/origa___.ttf');
}


html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #d8d9d4;
    font-family: 'Origami';
    font-size: 20px;
}

.store {
    padding: 15px;
}

.title {
    text-align: center;
    font-size: 42px;
    color: #2c3c82;
}

.point {
    padding-top: 20px;
    font-size: 24px;
    white-space: nowrap;
    color: #ff7400;
}

.point__title {
    display: inline-block;
    vertical-align: middle;
}

.point_count {
    display: inline-block;
    vertical-align: middle;
}

.products {
    padding-top: 20px;
    white-space: nowrap;
    color: #2c3c82;
}

.product {
    padding-bottom: 10px;
    white-space: nowrap;
}

.product__title {
    display: inline-block;
    vertical-align: middle;
}

.product__count {
    display: inline-block;
    vertical-align: middle;
}

.product__add {
    display: inline-block;
    vertical-align: middle;
    font-size: 36px;
    margin-left: 20px;
}