canvas{
 background: transparent;

}

html{
    overflow: hidden;
}


.gameover{
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 22;
    width: 100%;
    text-align: center;
}

.startPage{
    height: 100vh;
    background-image: url(../image/title.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 23;
    width: 100%;
    text-align: center;
}

.start__wrapper{
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    z-index: 24;
}

.setting__wrapper{
    display: block;
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    z-index: 24;
}

.start{
    font-family: monospace;
    display: inline-block;
    border: 1px solid;
    background-color: #ffb888;
    padding: 15px;
    width: 80%;
    font-size: 20px;
}

.gameover:after{
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.gameover .info{
    font-family: monospace;
    display: inline-block;
    vertical-align: middle;
}

.gameover h1{
    font-family: monospace;
    font-size: 50px;
}


.infoScore{
font-size: 0;
    text-align: center;
}

.infoScore span{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    text-align: right;
    width: 40%;
}

.infoScore span:first-child{
    text-align: left;
    width: 50%;

}


canvas{
    z-index: 1 !important;
}

.bg__wrapper{
    background-image: url(../image/bg1.gif);
    background-size: 100% auto;
    background-position-y: 20px;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
}